@import './vars.scss';
p{
    margin: 0;
}
.header{
    width: 99vw;
    height: 7vh;
    border: $border;
    border-radius: $border-radius-big;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.centried{
    display: flex;
    align-items: center;
    justify-content: center;
}
.program-container{
    height: 98vh;
    width: 98vw;
}
.programm-btn{
    box-sizing: border-box;
    min-width: 4vw;
    height: 3vh;
    padding: 1vw 1vw;
    cursor: pointer;
    margin: 1vw;
    border-radius: $border-radius-mini;
    background-color: $btn-color;
    color: $text-color-passive;
    &:hover{
        background-color: $btn-color-hover;
    }
    &:active{
        background-color: $btn-color-active;
        color: $text-color-active;
    }
}

.game-control-container{
    display: flex;
    width: 26vw; 
    align-items: flex-end;
}

.game-control-move{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
.instruction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction-description{
    color: $btn-color;
}

.instruction-text{
    color: $btn-color;
}