$text-color-active:#000000;
$text-color-passive:white;
$box-color: #000000;
$btn-color: #14213d;
$btn-color-hover: #14213dCC;
$btn-color-active: #fca311;
$border: 0.0521vw solid $box-color;
$border-radius-big: 1.0417vw;
$border-radius-mini:  0.4167vw;
